<!DOCTYPE html>
<html lang="{{locale}}">
    <head>
        <title>{{ navigation.activePage.pageTitle }}</title>
        <link rel="icon" type="image/svg+xml" href="{{designBaseUrl}}/static/logo-769297528.svg" sizes="any">

<meta charset="utf-8"/>
<meta content='initial-scale=1.0, width=device-width' name='viewport'>

<meta name="color-scheme" content="light dark">
<meta name="supported-color-schemes" content="light dark only">


<meta name="format-detection" content="telephone=no"/>

<meta name="google" content="notranslate"/>

<link rel="stylesheet" href="{{designBaseUrl}}/static/styles-318679236.css"/>
        
                <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
    </head>

    <body class="d-flex flex-column min-vh-100 bsi-dm-bg-color">
    <nav class="navbar navbar-expand-lg navbar-light"><div class="container bsi-logo-align-left"><div class="navbar-brand"><bsi:include reference="logo-XeW2mK"></bsi:include></div><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><bsi:include reference="navigation-Vp05IU"></bsi:include></div></nav><bsi:include reference="header-Sq8Of9"></bsi:include><div id="content" class="mb-4 flex-grow-1 d-flex flex-column"><bsi:include reference="{navigation.activePage.contentId}"></bsi:include></div><bsi:include reference="footer-nJDYZP"></bsi:include>
    <script src="{{designBaseUrl}}/shared/runtime.js" data-bsi-remove-if="draft" defer="defer"></script>
    <script src="{{designBaseUrl}}/modules/main-3014532591.js" defer="defer" data-bsi-remove-if="draft"></script><script src="{{designBaseUrl}}/vendors/75bb474f48f5e405f412.js" defer="defer" data-bsi-remove-if="draft"></script><script src="{{designBaseUrl}}/vendors/2e6ebf2959afc990b76d.js" defer="defer" data-bsi-remove-if="draft"></script>
    </body>
</html>